<div class="jumbotron">Library Books</div>
<!-- <div ng-repeat="add the expression here to repeat through the books">
  Here, make the HTML for how you want each book to display.
  Make sure you display an image, the title, and the author.
  The title should be a link to the specific book view.
</div> -->
<div class="container" ng-controller="BooksIndexController as indexCtrl">
  <div class="row">
    <div class="col-md-8">
      <form ng-submit="indexCtrl.createBook()">
        <legend>Add new book</legend>
        <div class="input-group">
          <span class="input-group-addon">Book Title:</span>
          <input type="text" class="form-control" ng-model="indexCtrl.newBook.title">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Author:</span>
          <input type="text" class="form-control" ng-model="indexCtrl.newBook.author">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Image:</span>
          <input type="text" class="form-control" ng-model="indexCtrl.newBook.image">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Release Date:</span>
          <input type="text" class="form-control" ng-model="indexCtrl.newBook.releaseDate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <h4>Search the Database</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" ng-model="searchText" class="form-control" name="search" placeholder="search">
    </div>
    <br>
    <label>Sort by:</label>
    <select name="singleSelect" ng-model="indexCtrl.singleSelect">
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="releaseDate">Release Date</option>
    </select>
  </div>
  <div ng-repeat="book in indexCtrl.books | filter:searchText | orderBy:indexCtrl.singleSelect">
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4><a ng-href="/books/{{book._id}}">{{book.title}}</a></h4>
            <div class="img-thumbnail">
              <img src="{{book.image}}" class="img-responsive" style="height:200px; width:150px;">
            </div>
            <p>Author: <span>{{book.author}}</span></p>
            <p>Release Date: <span>{{book.releaseDate}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
